*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    background-image: url(https://media.giphy.com/media/bAmpRgACntwA0/giphy.gif);
    background-color: rgb(105, 103, 103);
    background-size: cover;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ul-nav{
    color: beige;
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.ul-nav li{
    margin: 15px;
}

.ul-nav a{
    color: inherit;
    text-decoration: none;
}

.ul-nav a:hover{
    color: lawngreen;
}

.cuerpo-principal{
    color: beige;
    text-align: center;
    font-size: 35px;
}

.dancer{
    width: 15%;;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario input{
    margin: 5px;
}
.formulario textarea{
    margin: 5px;
}

.parrafo-index{
    color: beige;
    font-size: 20px;
    text-align: center;
}

.about-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: beige;
}

.about-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    color: beige;
}

.about-2 img{
    width: 100px;
}

.about-2 h2{
    text-align: center;
}

.servicio-1{
    text-align: center;
}

.servicio-2{
    text-align: center;
}

.servicio-3{
    text-align: center;
}

.login{
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.cuadro-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuadro-login img{
    width: 15%;
}

.cuadro-login a{
    text-decoration: none;
    color: beige;
}

.cuadro-login input{
    width: 35%;
    margin: 5px;
    padding: 5px;
}

.cuadro-login button{
    margin: 5px;
}

.cuadro-login a{
    margin: 5px;
}